@media(max-width: 1048px) {
    .cards {
        width: 50%;
    }
}

@media(max-width: 800px) {
    .content-card {
        display: flex;
        flex-direction: column;
        margin-top: 50px;
        gap: 35px;
    }

    #servicos {
        height: 160vh;
    }
}