header {
  width: 100%;
  background: linear-gradient(90deg, #000000 0%, #0f0f0f 100%);
  position: fixed;
  z-index: 1;
  max-height: 80px;
}

.container-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1100px;
  height: 80px;
  width: 70%;
  margin: auto;
}

.container-menu h1 {
  color: #ffff;
  font-family: "Inter", sans-serif;
  font-size: 1.5rem;
}

.menu-section {
  display: flex;
}

.menu-section nav ul {
  display: flex;
  gap: 15px;
}

.menu-section nav a {
  color: #ffff;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 1.2rem;
  padding: 8px;
  position: relative;
  transition: 0.3s;
}

.menu-section nav a:hover {
  background-color: rgba(255, 255, 255, 0.089);
  border-radius: 8px;
  color: rgb(240, 240, 240);
}

.menu-section nav a:hover::before {
  opacity: 1;
}

.menu-section nav a:before {
  opacity: 0;
  content: "";
  width: 50px;
  height: 5px;
  background: linear-gradient(
    97deg,
    rgba(82, 0, 180, 1) 0%,
    rgba(140, 0, 255, 1) 100%
  );
  position: absolute;
  border-radius: 30px;
  top: 108%;
  left: 50%;
  transform: translateX(-50%);
  transition: all 0.7s cubic-bezier(0.79, 0.77, 0.6, 1.03) 0s;
}

.btn-creat {
  display: flex;
  justify-content: space-between;
}

.creat-ac {
  color: #ffff;
  text-decoration: none;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  padding: 7px 18px;
  transition: 0.4s;
}

.creat-ac:hover {
  color: rgb(192, 192, 192);
}

.login-btn {
  color: #ffff;
  text-decoration: none;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  padding: 7px 18px;
  border: 2px solid rgb(136, 0, 214);
  border-radius: 30px;
  transition: 0.4s;
}

.login-btn:hover {
  background-color: rgba(119, 119, 119, 0.089);
}


@media(max-width: 1300px) {
  .menu-section nav {
      display: none;
  }

  .btn-creat {
    display: none;
  }
  .one,
  .two,
  .three {
      background-color: white;
      height: 3px;
      width: 100%;
      margin: 5px auto;
      border-radius: 5px;
      transition-duration: 0.3s;
  }

  .menu-burguer {
      width: 35px;
      height: 30px;
  }

  .menu-section.on {
      position: absolute;
      background: linear-gradient(90deg, #000000 0%, #0f0f0f 100%);
      top: 0;
      left: 0;
      transform: translate(-50, -50%);
      padding-top: 50px;
      width: 40vw;
      height: 100vh;
      display: flex;
      align-items: center;
      justify-content: center;
      overflow: hidden;
      z-index: 10;
  }

  .menu-section.on nav {
      display: block;
  }

  .menu-section.on .btn-creat {
    display: block;
  }

  .menu-section.on .menu-burguer {
      position: absolute;
      right: 35px;
      top: 35px;
  }

  .menu-section.on .menu-burguer .one {
      transform: rotate(45deg) translate(7px, 7px);
  }

  .menu-section.on .menu-burguer .two {
      opacity: 0;
  }

  .menu-section.on .menu-burguer .three {
      transform: rotate(-45deg) translate(5px, -4px);
  }

  .menu-section.on nav ul {
      display: block;
      text-align: center;
  }

  .menu-section.on nav ul li a {
      transition-duration: 0.3s;
      font-size: 2rem;
      margin-left: 0;
      line-height: 6rem;
      
  }

}

@media(max-width: 650px) {
  .menu-section.on {
    width: 100%;
      height: 100vh;
  }
}


/* //SLIDES MAIN// */

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.slide-container {
  display: flex;
  margin: auto;
  /* background-color: red; */
  width: 70%;
  max-width: 1100px;
  padding-top: 15%;
}

.slide {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding-bottom: 200px;
}

.slide-container {
  display: none;
}

.slide-container.active {
  display: block;
}

.img-slide {
  display: flex;
  justify-content: center;
  margin-left: 5%;
}

.img-slide img {
  width: 80%;
  transition: 0.4s;
}

.img-slide img:hover {
  transform: scale(1.1);
}

.content-slide * {
  font-family: "Inter", sans-serif;
  text-decoration: none;
}

.content-slide {
  position: absolute;
  left: 0;
  bottom: 0;
  display: grid;
  width: auto;
}

.content-slide h1 {
  font-weight: 600;
  color: #ffff;
  transition: all 0.5s cubic-bezier(0.5, 0.61, 0, 0.89);
}

.content-slide h1:hover {
  transform: scale(1.2);
}

.content-slide p {
  color: #ffff;
  font-weight: 500;
  line-height: 25px;
  margin-top: 10px;
}

.content-slide a {
  color: #ffff;
  font-size: 1.2rem;
  font-weight: 500;
  margin-top: 15px;
  background: linear-gradient(
    90deg,
    rgba(67, 0, 120, 1) 0%,
    rgba(96, 0, 255, 1) 100%
  );
  width: 55%;
  padding: 8px;
  text-align: center;
  border-radius: 8px;
  transition: 0.4s;
}

.content-slide a:hover {
  opacity: 80%;
  transform: scale(1.1);
}

 #prev,
#next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 150px;
  height: 150px;
  border: 2px solid rgba(255, 255, 255, 0.233);
  font-size: 25px;
  text-align: center;
  cursor: pointer;
  font-weight: bolder;
}

#prev {
  left: 0px;
  margin-left: 30px;
  border-radius: 50%;
  background: url(imagens/setae.png) no-repeat center;
}

#next {
  right: 0;
  margin-right: 30px;
  border-radius: 50%;
  background: url(imagens/setad.png) no-repeat center;
}

 @media (max-width: 1300px) {
  .slide-container.active {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
  }
  .slide {
    width: 100%;
  }

  .img-slide {
    width: 100%;
  }

.content-home {
  height: 100%;
}

.content-slide {
  left: 10%;
}

 #prev,
  #next {
    display: none;
  }

} 

/* //CARDS DE SEVIÇOS// */

.title {
  display: flex;
  margin: 0 auto;
  padding-top: 8rem;
}

.title h1 {
  color: #ffff;
  font-size: 3rem;
  font-family: "Inter", sans-serif;
}

.content-card {
  width: 80%;
  max-width: 1100px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: auto;
}

.cards {
  display: flex;
  flex-direction: column;
  width: 25%;
  border-radius: 20px;
  position: relative;
  transition: 0.6s;
  padding: 25px 10px;
}

.cards:hover {
  background: linear-gradient(
    175deg,
    rgba(82, 0, 180, 0) 39%,
    rgba(255, 255, 255, 0.07466736694677867) 100%
  );
  transition: all 0.7s cubic-bezier(0.5, 0.61, 0, 0.89);
}

.cards:hover::before {
  opacity: 1;
  /* background-color: rgb(255, 255, 255); */
}

.cards::before {
  opacity: 0;
  content: "";
  width: 135px;
  height: 135px;
  background: linear-gradient(
    97deg,
    rgba(82, 0, 180, 1) 0%,
    rgba(140, 0, 255, 1) 100%
  );
  position: absolute;
  z-index: -1;
  border-radius: 50%;
  top: 24%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.7s cubic-bezier(0.79, 0.77, 0.6, 1.03) 0s;
}

.cards:hover {
  transform: translateY(-10%);
}

.cards h1 {
  padding-bottom: 35px;
  display: flex;
  justify-content: center;

  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 1.7rem;
  font-style: bold;
  color: rgb(255, 255, 255);
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}

.cards ul {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  list-style: none;
}

.cards p {
  color: #ffff;
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  font-weight: 600;
  text-align: center;
}

.img-card {
  width: 130px;
  margin: auto;
  padding-bottom: 25px;
  position: relative;
}

.img-card img {
  width: 100%;
}


@media (max-width: 950px) {
  .content-card {
    display: flex;
    flex-direction: column;
}
.img-card {
  display: none;
}

.cards {
  width: 70%;
} 

.container-text {
  width: 80%;
  margin: auto;
}

.title {
  padding-top: 0;
}

}

/* //CONTEUDO SOBRE// */

.content-sobre {
  max-width: 1100px;
  width: 70%;
  /* background-color: blue; */
  display: flex;
  margin: auto;
}

.container-text * {
  font-family: "Inter";
}

.text {
  display: grid;
  gap: 30px;
  max-width: 90%;
}

.text h1 {
  font-size: 3rem;
  color: #ffff;
  letter-spacing: 3px;
}

.text h2 {
  font-size: 1rem;
  color: #8000ff;
}

.text p {
  font-size: 1rem;
  color: #ffff;
  font-weight: 500;
}

.btn-insta {
  max-width: 150px;
  display: flex;
  justify-content: center;
  gap: 10px;
  padding: 10px 0;
  border-radius: 50px;
  border: 2px solid #8000ff;
  margin-top: 35px;
  cursor: pointer;
  transition: 0.4s;
}

.btn-insta:hover {
  transform: scale(1.1);
  background-color: rgba(255, 255, 255, 0.014);
}

.btn-insta p {
  color: #ffff;
  font-weight: 400;
}

.container-img {
  background: linear-gradient(
    138deg,
    rgba(143, 0, 255, 1) 0%,
    rgba(46, 0, 66, 1) 100%
  );

  padding: 40px 35px;
  position: relative;
  transition: 0.4s;
}

.container-img img {
  width: auto;
}

.container-img h3 {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 3rem;
  color: #ffff;
  position: absolute;
  margin-left: 35px;
  top: 2%;
  text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
}

@media (max-width: 1150px) {
  .content-sobre {
    margin: auto;
    display: flex;
    flex-direction: column-reverse;
    gap: 45px;
    max-width: 80%;
  }

  .container-img {
    width: auto;
    margin: auto;
  }
}

@media (max-width: 560px) {
  .container-img {
    display: none;
  }

  .content-sobre {
    width: 100%;
    height: 40%;
  }
}


/* //CONTATO CONTENT// */
.content-contato {
  width: 70%;
  max-width: 1100px;
  display: flex;
  flex-direction: row-reverse;
  margin: auto;
}

.content-input {
  width: 90%;
  background: linear-gradient(
    138deg,
    rgba(143, 0, 255, 1) 0%,
    rgba(46, 0, 66, 1) 100%
  );
  display: flex;
  padding: 25px;
  display: flex;
  flex-direction: column;
}

.content-input h1 {
  color: #ffff;
  font-family: "Inter", sans-serif;
  font-size: 2.3rem;
  padding-top: 30px;
  text-align: center;
}

form {
  width: 80%;
  display: flex;
  flex-direction: column;
  margin: auto;
  padding-top: 45px;
  gap: 40px;
}

.input-label input {
  width: 100%;
  margin: auto;
  padding: 5px 0;
  background: none;
  border: none;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 1rem;
  color: #fff;
  border-bottom: 2px solid rgb(255, 255, 255);
  outline: none;
}

.input-label input::placeholder {
  color: #ffff;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 1.2rem;
}

form button {
  background: none;
  padding: 8px 0;
  width: 38%;
  margin: auto;
  color: #ffff;
  background-color: #ffff;
  margin-bottom: 40px;

  font-family: "Inter", sans-serif;
  color: #300052;
  font-weight: 700;
  font-size: 1.3rem;
  border: none;
  border-radius: 50px;
  transition: 0.4s;
}

form button:hover {
  transform: scale(1.1);
  opacity: 80%;
}


/* //PARTE DE TRÁS CONTATO// */

.content-connect {
  width: 100%;
  height: 75%;
  display: flex;
  background: linear-gradient(
    106deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(196, 196, 196, 1) 100%
  );
  flex-direction: column;
  justify-content: space-between;
  margin: auto;
}

.content-connect h1 {
  color: #40006d;
  font-family: "Inter", sans-serif;
  font-size: 2rem;
  margin: auto;
  margin: 45px;
}

.list-social {
  display: flex;
  gap: 40px;
  padding-bottom: 80px;
  margin: auto 45px;
}

.list-social ul {
  display: grid;
  gap: 20px;
  list-style: none;
  cursor: pointer;
}

.list-social ul li {
  color: #40006d;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 1.1rem;
  display: flex;
  justify-content: space-evenly;
  gap: 10px;
}

@media (max-width: 1150px) {
  .content-contato {
    display: flex;
    flex-direction: column-reverse;
  }

  .content-input {
    width: 100%;
  }
}

@media (max-width: 500px) {
  form button {
    width: 60%;
  }

  .input-label input::placeholder {
    font-size: .9rem;
  }
}


/* //FOOTER// */

footer {
  width: 100%;
  display: flex;
  background: linear-gradient(
    106deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(196, 196, 196, 1) 100%
  );
}

.card-footer {
  width: 70%;
  max-width: 1100px;
  display: flex;
  margin: auto;
}

.card-footer {
  width: 70%;
  max-width: 1100px;
  display: flex;
  margin: auto;
}

.cards-footer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 30px;
}

.cards-footer h3 {
  font-family: "Inter", sans-serif;
  color: #6300aa;
  margin-bottom: 20px;
}

.cards-footer ul {
  list-style: none;
  display: grid;
  gap: 6px;
}

.cards-footer ul li a {
  font-family: "Inter", sans-serif;
  font-weight: 500;

  color: #420072;
  text-decoration: none;
}

.cards-footer ul li {
  transition: 0.4s;
}

.input-footer {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.cards-footer ul li:hover {
  transform: translateX(5%);
  opacity: 90%;
}

.input-footer label {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 1.3rem;

  color: #420072;
}

.input-footer input {
  padding: 10px 10px;
  border: none;
  border: 2.5px solid #6300aa;
  background: none;

  color: #420072;
  font-size: 1rem;
  font-weight: 500;
}

.input-footer input::placeholder {
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  font-weight: 500;
  color: #420072;
}

.btn-footer {
  width: 100%;
  margin-top: 15px;
}

.btn-footer button {
  width: 100%;
  padding: 10px 0;
  border: none;
  background-color: #6300aa;

  color: #ffff;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 1.2rem;
  cursor: pointer;
}

.social-footer {
  width: 100%;
  display: flex;
  margin-top: 15px;
}

.social-footer ul {
  display: flex;
  width: 100%;
  gap: 35px;
}


@media (max-width: 970px) {
  .card-footer {
    display: flex;
    flex-direction: column;
  }
}